/* footer {
  position: relative;
  width: 100%;
  padding: 40px 10vw;
  padding-bottom: 80px;
  background: #383838;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-content .logo {
  height: 160px;
}

.footer-ul-container {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.category {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.category-title {
  grid-column: span 2;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.category,
.footer-link {
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover {
  color: #fff;
}

.footer-title,
.info {
  color: rgba(255, 255, 255, 0.75);
  margin: 20px 0;
  text-transform: capitalize;
}

.footer-social-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.social-link {
  color: #fff;
  margin: 20px;
  text-transform: capitalize;
}

.social-link:nth-child(1) {
  margin-left: 0;
}

.footer-credit {
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
} */

footer {
  position: relative;
  width: 100%;
  padding: 40px 10vw;
  padding-bottom: 80px;
  background: #383838;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-content .logo {
  height: 160px;
}

.about {
  text-align: right;
  margin-left: 30px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.phone {
  display: flex;
  color: #fff;
}

.phone .number {
  margin-right: 10px;
}
.social-media {
  display: flex;
  justify-content: space-between;
  flex-basis: 200px;
}

.social-media a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-title,
.info {
  color: rgba(255, 255, 255, 0.75);
  margin: 20px 0;
  text-transform: capitalize;
}

.footer-credit {
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 700px) {
  .footer-content {
    flex-direction: column;
  }
  .about {
    text-align: left;
    margin-left: 0;
  }
}

@media only screen and (max-width: 550px) {
  .social-media {
    flex-basis: 150px;
  }
}

@media only screen and (max-width: 450px) {
  .contact {
    flex-direction: column;
  }
  .social-media {
    margin-top: 20px;
    flex-basis: 250px;
  }
}
