* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir, "roboto", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #333333;
  z-index: 9;
}

.nav {
  padding: 10px 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  height: 60px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-items > i {
  opacity: 0.5;
  transition: 0.3s;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-items > i:hover {
  opacity: 1;
}

.nav-items a {
  margin-right: 20px;
}

.hamburger-icon {
  display: none;
}

.hamburger-icon .bar {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  cursor: pointer;
  transition: 0.3s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
  opacity: 1;
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 80px;
  right: -100%;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #383838;
  color: #fff;
  font-size: 15px;
  transition: 0.5s;
  z-index: 2;
}

.open .mobile-menu {
  right: 0;
}

.mobile-menu li {
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 10px 20px;
  text-transform: capitalize;
}

.mobile-menu a:link {
  text-decoration: none;
  color: #fff;
}

.mobile-menu a:visited {
  text-decoration: none;
  color: #fff;
}

.mobile-menu a:hover {
  text-decoration: none;
  color: #fff;
}

.mobile-menu a:active {
  text-decoration: none;
  color: #fff;
}

.second-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d1d1d1;
}

.second-nav-items {
  display: none;
  padding: 0 10px;
  align-items: center;
  gap: 1rem;
}

.second-nav-items > i {
  opacity: 0.5;
  transition: 0.3s;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.second-nav-items > i:hover {
  opacity: 1;
}

.second-nav-items a {
  margin-right: 20px;
}

.dropdown {
  color: #fff;
  cursor: pointer;
  position: relative;
  width: 150px;
  text-align: center;
  text-decoration: none;
  transform: perspective(1000px);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: -99999;
}

.dropdown-menu li:first-child {
  cursor: default;
}

.dropdown-menu a {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dropdown-menu a:hover {
  background: #999999;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  background: #cccccc;
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  -webkit-transition: all 0.5s, background, 2s 0.5s linear;
  transition: all 0.5s, background 2s 0.5s linear;
}

.search {
  width: 500px;
  display: flex;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.search.show {
  opacity: 1;
  pointer-events: all;
}

.secondSearch {
  width: 500px;
  display: none;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.secondSearch.show {
  opacity: 1;
  pointer-events: all;
}

.search-box {
  width: 75%;
  height: 40px;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: #cccccc;
  color: #a9a9a9;
  outline: none;
}

.search-btn {
  width: 25%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #999999;
  color: #000;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-box::placeholder {
  color: #a9a9a9;
}

.links-container {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.link {
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .links-container {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .second-nav-items {
    display: flex;
  }
  .hamburger-icon {
    display: block;
  }
  .secondSearch {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .nav-items img {
    display: none;
  }
  .links-container {
    display: none;
    pointer-events: none;
  }
  .search {
    display: none;
  }
  .secondSearch {
    width: 300px;
  }
}
