* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir, "roboto", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* background: #f5f5f5; */
  background: #f5f5f5;
  z-index: 9;
}

.nav {
  padding: 10px 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  height: 60px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search {
  width: 500px;
  display: flex;
}

.search-box {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: none;
  color: #a9a9a9;
  outline: none;
}

.search-btn {
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-box::placeholder {
  color: #a9a9a9;
}

.nav-items a {
  margin-right: 20px;
}

.nav-items img {
  width: 30px;
}

.secondSearch {
  /* display: none; */
  /* display: flex; */
  display: flex;
  height: 0;
  opacity: 0;
  padding: 10px 5px;
  /* transition: height 0.3s, opacity 0.3s 0.3s; */
  transition: all 0.3s ease-in;
}

.secondSearch.show {
  height: 60px;
  opacity: 1;
}

.search-icon {
  display: none;
  margin-right: 10px;
  cursor: pointer;
}

.hamburger-icon {
  display: none;
}

.hamburger-icon .bar {
  width: 35px;
  height: 3px;
  background-color: #000;
  margin: 6px 0;
  cursor: pointer;
  transition: 0.3s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
  opacity: 0;
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 80px;
  right: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #383838;
  color: #fff;
  /* padding: 20px 30px; */
  font-size: 15px;
  transition: 0.5s;
}

.open .mobile-menu {
  opacity: 1;
}

.mobile-menu li {
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 10px 20px;
  text-transform: capitalize;
}

.mobile-menu a:link {
  text-decoration: none;
  color: #fff;
}

.mobile-menu a:visited {
  text-decoration: none;
  color: #fff;
}

.mobile-menu a:hover {
  text-decoration: none;
  color: #fff;
}

.mobile-menu a:active {
  text-decoration: none;
  color: #fff;
}

/* .mobile-menu-button {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
} */

.links-container {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: start;
  list-style: none;
  border-top: 1px solid #d1d1d1;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #383838;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .search {
    display: none;
  }
  .search-icon {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .nav-items img {
    display: none;
  }
  .links-container {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .secondSearch {
    display: none;
  }
}
